**/dist/*
site/.vitepress/cache/**/*
.nx/*
.github/*
/.nx/cache

/examples/*
!/examples/ui-demo
/examples/ui-demo/contracts
/examples/ui-demo/.next/*
!/examples/auth-web-example
!/examples/signer-web-example
!/examples/react-v5-example
!/examples/connectors-web-example

**/.turbo/*
account-kit/rn-signer/lib/*
account-kit/java/*
**/android/generated/*
**/ios/generated/*
**/build/*
**/.cxx/*

**/vendor/*
**/test-results/*
**/playwright-report/*

/docs-site/**
