{
  "extends": ["react-app", "plugin:jsdoc/recommended-typescript-error"],
  "env": {
    "es2021": true,
    "node": true,
  },
  "plugins": ["import", "eslint-rules"],
  "parserOptions": {
    "sourceType": "module",
  },
  "ignorePatterns": ["docs-site/**"],
  "rules": {
    "import/extensions": ["error", "ignorePackages"],
    "jsdoc/tag-lines": [
      "error",
      "any",
      {
        "startLines": 1,
      },
    ],
    "jsdoc/require-returns": [
      "error",
      {
        "enableFixer": true,
      },
    ],
    "jsdoc/require-param": [
      "error",
      {
        "enableFixer": true,
      },
    ],
    "jsdoc/require-param-type": "error",
    "jsdoc/require-returns-type": "error",
    "jsdoc/no-types": "off",
    "jsdoc/require-jsdoc": "off",
    "jsdoc/match-description": [
      "error",
      {
        "matchDescription": "[A-Z].*",
        "tags": {
          "example": {
            "message": "Example tags must provide a code block with a language identifier.",
            "match": "```(js|javascript|ts|tsx)([\\s\\S]*)```",
          },
        },
      },
    ],
    "eslint-rules/require-jsdoc-on-reexported-functions": [
      "error",
      {
        "fixBatchSize": 0,
      },
    ],
    "no-warning-comments": [
      "warn",
      { "terms": ["TODO(v5)"], "location": "anywhere" },
    ],
  },
  "overrides": [
    {
      "files": ["**/*.mdx"],
      "extends": ["plugin:mdx/recommended"],
      "rules": {
        "import/extensions": ["off", "ignorePackages"],
        "react/jsx-no-undef": "off",
      },
    },
  ],
}
