**/dist/*
site/.vitepress/cache/**/*
.nx/*
.github/*
/.nx/cache

/examples/*
!/examples/ui-demo
/examples/ui-demo/contracts
/examples/ui-demo/.next/*

**/.turbo/*
account-kit/rn-signer/lib/*
**/android/generated/*
**/ios/generated/*
**/build/*
**/.cxx/*
