*.local
.DS_Store
.eslintcache
.next
.pnpm-debug.log*
bench
cache
coverage
dist
node_modules
tsconfig*.tsbuildinfo
.idea/
.nx

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc
.npmrc
yarn-error.log
lerna-debug.log
.tool-versions

**/userop.json

# TypeDoc generated media (source files copied for source links)
docs/pages/reference/_media

bin
**/.turbo

# Turborepo
.turbo

# VSCode
.vscode/
jsconfig.json

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
