{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": [
          { "@shared-components": "./src/shared/components" },
          { "@shared-config": "./src/shared/config" },
          { "@shared-constants": "./src/shared/constants" },
          { "@shared-utils": "./src/shared/utils" },
          { "@font-size": "./src/shared/theme/font-size" },
          { "@abi": "./src/abi" },
          { "@fonts": "./src/shared/theme/fonts" },
          { "@colors": "./src/shared/theme/colors" },
          { "@theme": "./src/shared/theme" },
          { "@models": "./src/services/models" },
          { "@services": "./src/services" },
          { "@screens": "./src/screens" },
          { "@assets": "./src/assets" },
          { "@event-emitter": "./src/services/event-emitter" },
          { "@local-storage": "./src/services/local-storage" },
          { "@hooks": "./src/hooks" },
          { "@store": "./src/store" },
          { "@context": "./src/context" }
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ],
    "inline-svg",
    "react-native-reanimated/plugin"
  ]
}
