name: Run checks on Pull Requests
on:
  pull_request:

jobs:
  # admins are still able to override this check if we need to merge something ASAP
  check_branch:
    name: "Enforce development branch"
    runs-on: ubuntu-latest
    steps:
      - name: Check branch
        if: github.base_ref == 'main' && github.head_ref != 'development'
        run: |
          echo "ERROR: You can only merge to main from development."
          exit 1

  enforce_title:
    name: Enforce PR Title Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.16"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Use commitlint to check PR title
        run: echo "${{ github.event.pull_request.title }}" | yarn commitlint

  build_and_lint_and_test:
    name: Lint and Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.16"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint:check

      - name: Build
        run: yarn build

      - name: Unit Test
        run: yarn test
