name: Run checks on Pull Requests
on:
  pull_request:

jobs:
  enforce_title:
    name: Enforce PR Title Format
    runs-on: ubuntu-24.04
    steps:
      - name: "Checkout files"
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ALCHEMY_BOT_PAT }}
          fetch-depth: "0"
          submodules: "recursive"

      - name: Setup
        uses: ./.github/actions/setup

      - name: Use commitlint to check PR title
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: echo "$TITLE" | yarn commitlint
  
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write 
    env:
      REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.ALCHEMY_BOT_PAT }}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: "Checkout files"
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ALCHEMY_BOT_PAT }}
          fetch-depth: "0"
          submodules: "recursive"

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build eslint plugin
        run: |
          cd templates/eslint && yarn build

      - uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest

      - name: Run eslint with reviewdog
        run: |
          npx --no-install -c "eslint -f=rdjson ." | reviewdog -f=rdjson -reporter=github-pr-review -filter-mode=added -tee
      
      - name: Run eslint for errors
        run: yarn lint:check

  build_and_lint_and_test:
    name: Build and Test
    runs-on: ubuntu-24.04
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      API_KEY: ${{ secrets.API_KEY }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: "Checkout files"
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ALCHEMY_BOT_PAT }}
          fetch-depth: "0"
          submodules: "recursive"

      - name: free disk space
        run: |
          sudo swapoff -a
          sudo rm -f /swapfile
          sudo apt clean
          images=$(docker image ls -aq)
          if [ -n "$images" ]; then
            docker rmi $images
          else
            echo "No images to remove."
          fi
          df -h

      - name: Setup
        uses: ./.github/actions/setup

      # using your own fork url avoids getting rate limited by the public api
      # later we'll look at deploying everything we need directly to anvil so
      # so we don't need a fork url
      - name: Conditionally set fork url
        if: ${{ env.API_KEY != '' }}
        run: echo "VITEST_SEPOLIA_FORK_URL=https://eth-sepolia.g.alchemy.com/v2/${{ env.API_KEY }}" >> $GITHUB_ENV

      - name: Set up Rundler
        uses: jaxxstorm/action-install-gh-release@v1.12.0
        with:
          repo: alchemyplatform/rundler
          platform: linux
          tag: v0.2.2
          cache: enable

      - name: Free disk space before build
        run: |
          echo "Disk space before cleanup:"
          df -h
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /usr/local/lib/android/sdk/ndk
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo apt-get clean
          echo "Disk space after cleanup:"
          df -h

      - name: Build Libraries
        env:
          API_KEY: ${{ secrets.API_KEY }}
          JAVA_OPTS: "-XX:MaxHeapSize=6g"
        run: yarn build:libs

      - name: Unit Test
        run: yarn test:ci

