name: Publish new Package

# workflow dispatch requires a maintainer to go to the Actions tab and manually trigger the workflow
on:
  workflow_dispatch:
    branches:
      - main

# If we ever migrate this to not be manual, we HAVE to check that the commit
# it is running against DOES NOT contain [skip-ci] in the commit message
jobs:
  build_test_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ALCHEMY_BOT_PAT }}

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: "16.20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      # TODO: we still need to make the tests work in CI environments
      # will come back to this
      # - name: Test
      #   run: yarn test

      # Lerna publish will, compute the new version, update files, run precommit hooks, tag, publish, and push change log
      - name: Publish using Lerna
        run: yarn lerna publish --no-private --yes
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
